@import "./components/body.css";
@import "./components/header.css";
.main {
    display: grid;
    grid-template-areas: "navigation wrapper";
    grid-template-rows: 100vh 1fr;
    grid-template-columns: 320px 1fr;
    grid-gap: 40px;
}

.navigation {
    background-color: #FAFAFA;
    grid-area: navigation;
}
.wrapper {
    max-width: 1200px;
    grid-area: wrapper;
    margin-right: 40px;
}

.menu {
    display: flex;
    height: 58px;
    border-bottom: 1px solid #E4E4E4;
    align-items: center;
}

.menu a {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    color: #545454;
    text-decoration: none;
}

.menu a:hover {
    color: #139967;
    transition: all .2s ease-in-out;
}

.menu a:not(:last-child) {
    margin-right: 72px;
}

.logo {
    display: block;
    background: url(../svg/logo.svg) ;
    width: 183px;
    height: 18px;
    margin: 64px 0 0 30px;
}