._btn {
  @include clean;

  background-color: #ffffff;
  height: 44px;
  border-radius: 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 32px;
  font-family: var(--font);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-primary);
  cursor: pointer;
  transition: all var(--delay);

  &:hover {
    color: var(--primary);
  }

  &--primary {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: #ffffff;

    &:hover {
      background-color: #ffffff;
    }
  }
}
