._catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap);
  overflow: hidden;

  @include mobile {
    grid-template-columns: 1fr;
  }

  @include tablet-only {
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    background-color: #edf0f0;
    border-radius: 8px;
    min-height: 160px;
    color: var(--text-primary);
    transition: background-color var(--delay);

    &:hover {
      background-color: var(--primary);
      color: #ffffff;

      ._catalog__item-arrow {
        &::before,
        &::after {
          transition: left var(--delay);
        }

        &::before {
          left: 0;
        }

        &::after {
          left: 100%;
        }
      }
    }

    &-info {
      padding: 30px 0 50px 30px;
      display: flex;
      flex-direction: column;
    }

    &-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      transition: color var(--delay);
    }

    &-desc {
      font-size: 14px;
      line-height: 18px;
      margin-top: 16px;
      transition: color var(--delay);
    }

    &-image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        max-width: calc(100% - 30px);
        max-height: calc(100% - 30px);
        object-fit: contain;
      }
    }

    &-arrow {
      position: absolute;
      display: block;
      overflow: hidden;
      width: 36px;
      height: 36px;
      background-color: var(--primary);
      left: 0;
      bottom: 0;
      border-radius: 0 8px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: url("../img/icons/arrow-forward-white.svg");
        background-position: center;
        background-repeat: no-repeat;
      }

      &::before {
        left: -100%;
      }

      &::after {
        left: 0;
      }
    }
  }
}
