._header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: var(--gap);
  height: 107px;

  &__contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-feedback {
      @include clean;

      font-size: 14px;
      white-space: nowrap;
      color: var(--primary);
      cursor: pointer;
      border-bottom: 1px solid;
      transition: border var(--delay);

      &:hover {
        border-bottom: 1px solid transparent;
      }
    }

    &-list {
      margin-left: 60px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &-phone {
      font-weight: 700;
      font-size: 20px;
    }

    &-email {
      font-size: 14px;
      margin-top: 8px;
    }

    &-phone,
    &-email {
      color: var(--text-primary);
      transition: color var(--delay);

      &:hover {
        color: var(--primary);
      }
    }
  }
}
