._header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: var(--gap);

  &__contacts {
    &-feedback {
    }

    &-list {
    }

    &-phone {
    }

    &-email {
    }
  }
}
