._header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: var(--box-shadow-transparent);
  transition: box-shadow var(--delay);

  @include touch {
    box-shadow: var(--box-shadow);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: var(--gap);
    height: 106px;
    border-bottom: 1px solid #e4e4e4;

    @include touch {
      grid-template-columns: 1fr auto;
      margin: 0 calc(-1 * var(--gap) / 2);
      padding: calc(var(--gap) / 2);
      border-bottom: none;
    }

    @include desktop-only {
      grid-template-columns: 3fr 3fr 4fr;
    }

    &--without-underline {
      border-bottom: none;
    }
  }

  &__logo {
    @include touch {
      display: none;
    }
  }

  &__search {
    @include touch {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include touch {
      justify-content: flex-start;
    }

    &-feedback {
      @include touch {
        display: none;
      }
    }

    &-list {
      margin-left: 60px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @include touch {
        margin-left: 0;
        align-items: flex-start;
      }
    }

    &-phone {
      font-weight: 700;
      font-size: 20px;
    }

    &-email {
      font-size: 14px;
      margin-top: 8px;
    }

    &-phone,
    &-email {
      color: var(--text-primary);
      transition: color var(--delay);

      &:hover {
        color: var(--primary);
      }
    }
  }

  &__toggle {
    @include desktop {
      display: none;
    }

    &-btn {
      @include clean;
    }
  }

  &--shadow {
    box-shadow: var(--box-shadow);
  }
}
