._map {
  padding-top: 84px;
  margin-bottom: 0;
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    padding-top: 40px;
    display: block;
  }

  &__body {
    background-color: var(--text-primary);
    color: #ffffff;
    display: flex;
    justify-content: flex-end;

    @include mobile {
      padding: 0 calc(var(--gap) / 2);
    }
  }

  &__contacts {
    margin: 0;
    max-width: calc(var(--container) / 2);
    width: 100%;
    padding: 45px 45px 45px calc(var(--gap) / 2);

    @include fullhd {
      padding-left: 0;
    }

    dt {
      font-size: 14px;
      line-height: 18px;
    }

    dd {
      margin: 4px 0 0;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      a,
      address {
        color: inherit;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
      }

      a {
        transition: color var(--delay);

        &:hover {
          color: var(--primary);
        }
      }

      address {
        font-style: normal;
      }
    }
  }

  &__layout {
    @include mobile {
      height: 100vw;
      max-height: 500px;
    }

    *[class*="-inner-panes"] {
      > *:not([class*="-places-pane"]) {
        filter: grayscale(100%);
      }
    }
  }
}
