._page {
  padding-top: 44px;

  &__side {
  }

  &__main {
  }

  &__breadcrumbs {
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin-top: 8px;
  }

  &__content {
    margin-top: 28px;

    &--large {
      margin-top: 44px;
    }
  }

  &--grid {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: var(--gap);
  }
}
