._page {
  padding-top: 44px;

  &__breadcrumbs {
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin-top: 8px;
  }

  &__content {
    margin-top: 44px;
  }
}
