._text-content {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 0.9em;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 0.6em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    padding-left: 20px;
    margin: 1.2em 0;

    li {
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 0.4em;

      &::marker {
        content: "- ";
      }
    }
  }

  img {
    float: left;
    margin-right: 30px;
  }
}
