._text-content {
  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 0.6em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    padding-left: 20px;
    margin: 1em 0;

    li {
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 0.4em;
    }
  }
}
