._catalog-inner {
  &__files {
    margin-top: 44px;

    &-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
    }

    &-items {
      @include clr;

      --padding: 7.5px;

      margin-top: calc(24px - var(--padding));
      column-count: 2;
      column-gap: var(--gap);
      padding-right: 10.5%;
    }

    &-item {
      a {
        display: inline-block;
        padding: var(--padding) 0;
        font-size: 14px;
        line-height: 18px;
        color: var(--text-primary);
        transition: color var(--delay);

        position: relative;
        padding-left: 32px;

        &::before {
          content: "";
          position: absolute;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid var(--primary);
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-image: url("../img/icons/gear.svg");
          background-size: 18px;
          background-position: center;
          background-repeat: no-repeat;
          transition: transform calc(2 * var(--delay));
        }

        &:hover {
          color: var(--primary);

          &::before {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
    }
  }
}
