._main-catalog {
  margin-top: 20px;

  &__more {
    margin-top: 28px;

    &-link {
      height: 24px;
      font-size: 12px;
      display: inline-flex;
      align-items: center;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--primary);

      &:hover {
        svg {
          transform: translate(5px);
        }
      }

      svg {
        margin-left: 8px;
        margin-bottom: 4px;
        transition: transform var(--delay);
      }
    }
  }
}
