._main-partners {
  margin-top: 68px;

  @include mobile {
    margin-top: 30px;
  }

  &__items {
    margin-top: 20px;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
  }

  &__item {
    flex: 0 0 calc(25% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      flex: 0 0 calc(50% - 20px);
    }

    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }
}
