<div class="_catalog">
  <a href="#" class="_catalog__item">
    <span class="_catalog__item-info">
      <span class="_catalog__item-title">Отводы гнутые</span>
      <span class="_catalog__item-desc">от 12 руб./шт.</span>
    </span>
    <span class="_catalog__item-image">
      <img src="./img/catalog/catalog-1.png" alt="" width="200" height="160" />
    </span>
    <span class="_catalog__item-arrow"></span>
  </a>
  <a href="#" class="_catalog__item">
    <span class="_catalog__item-info">
      <span class="_catalog__item-title"> Отводы сварные секторные </span>
      <span class="_catalog__item-desc">от 12 руб./шт.</span>
    </span>
    <span class="_catalog__item-image">
      <img src="./img/catalog/catalog-2.png" alt="" width="200" height="160" />
    </span>
    <span class="_catalog__item-arrow"></span>
  </a>
  <a href="#" class="_catalog__item">
    <span class="_catalog__item-info">
      <span class="_catalog__item-title">Отводы крутоизогнутые</span>
      <span class="_catalog__item-desc">от 12 руб./шт.</span>
    </span>
    <span class="_catalog__item-image">
      <img src="./img/catalog/catalog-3.png" alt="" width="200" height="160" />
    </span>
    <span class="_catalog__item-arrow"></span>
  </a>
  <a href="#" class="_catalog__item">
    <span class="_catalog__item-info">
      <span class="_catalog__item-title">Фланцы</span>
      <span class="_catalog__item-desc">от 12 руб./шт.</span>
    </span>
    <span class="_catalog__item-image">
      <img src="./img/catalog/catalog-4.png" alt="" width="200" height="160" />
    </span>
    <span class="_catalog__item-arrow"></span>
  </a>
  <a href="#" class="_catalog__item">
    <span class="_catalog__item-info">
      <span class="_catalog__item-title">Тройники</span>
      <span class="_catalog__item-desc">от 12 руб./шт.</span>
    </span>
    <span class="_catalog__item-image">
      <img src="./img/catalog/catalog-5.png" alt="" width="200" height="160" />
    </span>
    <span class="_catalog__item-arrow"></span>
  </a>
  <a href="#" class="_catalog__item">
    <span class="_catalog__item-info">
      <span class="_catalog__item-title">Заглушки днища</span>
      <span class="_catalog__item-desc">от 12 руб./шт.</span>
    </span>
    <span class="_catalog__item-image">
      <img src="./img/catalog/catalog-6.png" alt="" width="200" height="160" />
    </span>
    <span class="_catalog__item-arrow"></span>
  </a>
</div>
