<header class="_header">
  <div class="_header__logo">
    <a href="/" class="_logo">
      <span class="_logo__name"><span>ЭНЕРГО</span><span>РЕМОНТ</span></span>
      <span class="_logo__desc">15 лет на рынке оборудования ТЭК</span>
    </a>
  </div>
  <div class="_header__search">
    <input type="text" />
  </div>
  <div class="_header__contacts">
    <button class="_header__contacts-feedback">Перезвоните мне</button>
    <div class="_header__contacts-list">
      <a href="tel:+7 (347) 292-59-79" class="_header__contacts-phone">
        +7 (347) 292-59-79
      </a>
      <a href="mailto:energy-renov@mail.ru" class="_header__contacts-email">
        energy-renov@mail.ru
      </a>
    </div>
  </div>
</header>
