<section class="_map">
  <div class="_map__body">
    <dl class="_map__contacts">
      <dt>Телефон</dt>
      <dd><a href="tel: +7 (347) 292-59-79"> +7 (347) 292-59-79</a></dd>
      <dt>E-mail</dt>
      <dd>
        <a href="mailto:energy-renov@mail.ru">energy-renov@mail.ru</a>
      </dd>
      <dt>Юридический адрес</dt>
      <dd>
        <address>450045, г. Уфа, ул. Энергетиков, дом 32, офис 1</address>
      </dd>
      <dt>Почтовый адрес</dt>
      <dd><address>450068, г. Уфа, а/я 32</address></dd>
      <dt>Первая производственная площадка</dt>
      <dd><address>г. Уфа, ул. Энергетиков, дом 32</address></dd>
      <dt>Вторая производственная площадка</dt>
      <dd><address>г. Уфа, ул. Зеленая роща, дом 7/1</address></dd>
    </dl>
  </div>
  <div class="_map__layout" id="map"></div>
</section>
