<nav class="_nav">
  <div class="_container">
    <ul class="_nav__list">
      <li class="_nav__list-item _nav__list-item--wrap">
        <a href="/catalog.html">Каталог</a>
        <ul class="_nav__sublist">
          <li class="_nav__sublist-item"><a href="#">Отводы гнутые</a></li>
          <li class="_nav__sublist-item">
            <a href="#">Отводы сварные секторные</a>
          </li>
          <li class="_nav__sublist-item">
            <a href="#">Отводы крутоизогнутые</a>
          </li>
        </ul>
      </li>
      <li class="_nav__list-item active"><a href="#">О компании</a></li>
      <li class="_nav__list-item"><a href="#">Новости</a></li>
      <li class="_nav__list-item"><a href="#">Продукция в наличии</a></li>
      <li class="_nav__list-item"><a href="#">Наши объекты</a></li>
      <li class="_nav__list-item"><a href="#">Проектирование</a></li>
      <li class="_nav__list-item"><a href="#">Контакты</a></li>
    </ul>
  </div>
</nav>
