<div class="_nav-bg"></div>

<nav class="_nav">
  <div class="_container">
    <div class="_nav__logo">@include('logo.html')</div>
    <ul class="_nav__list">
      <li class="_nav__list-item _nav__list-item--wrap">
        <a href="/catalog.html">Каталог</a>
        <ul class="_nav__sublist">
          <li class="_nav__sublist-item">
            <a href="/catalog-inner.html">Отводы гнутые</a>
          </li>
          <li class="_nav__sublist-item">
            <a href="/catalog-inner.html">Отводы сварные секторные</a>
          </li>
          <li class="_nav__sublist-item">
            <a href="/catalog-inner.html">Отводы крутоизогнутые</a>
          </li>
        </ul>
      </li>
      <li class="_nav__list-item active"><a href="#">О компании</a></li>
      <li class="_nav__list-item"><a href="#">Новости</a></li>
      <li class="_nav__list-item">
        <a href="/production.html">Продукция в наличии</a>
      </li>
      <li class="_nav__list-item"><a href="#">Наши объекты</a></li>
      <li class="_nav__list-item"><a href="/design.html">Проектирование</a></li>
      <li class="_nav__list-item"><a href="/contacts.html">Контакты</a></li>
    </ul>
    <div class="_nav__feedback">
      <!--      @include('feedback-btn.html')-->
    </div>
  </div>
</nav>
