*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  &::selection {
  }
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  font-family: var(--font);
}

body {
  &.modal {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
